<h2>DELETE PRODUCT</h2>

<form class="navbar-form navbar-left" action="/products/delete/{{data.id}}" method="POST">
    <div>
        <div class="form-group">
            <label for="">Category</label>
            <select class="" name="category_id">
                {{#categories}}
                    <option {{selected}} value="{{id}}">{{category}}</option>
                {{/categories}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="">Product</label>
        <input type="text" name="product" value="{{data.product}}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
