<h2> WEEK {{Week}} STATISTICS </h2>

<ul>
  {{#pop}}
    <li>The {{descr}} is {{name}} with {{quantity}} units sold</li>
  {{/pop}}
</ul>
<ul>
  {{#profit}}
    <li>The {{descr}} is {{name}} with a total profit of R{{prof}}</li>
  {{/profit}}
</ul>
