<h3>EDIT PURCHASE</h3>

<form class="navbar-form navbar-left" action="/purchases/update/{{data.id}}" method="POST">
    <div>
        <div class="form-group">
            <label for="">Product &nbsp;</label>
            <select class="" name="product_id">
                {{#products}}
                    <option {{selected}} value="{{id}}">{{product}}</option>
                {{/products}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" placeholder="Date" name="date" value="{{data.date}}">
    </div>

    <div class="form-group">
        <label for="">Shop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" placeholder="Shop" name="shop" value="{{data.shop}}">
    </div>

    <div class="form-group">
        <label for="">Cost &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="number" placeholder="Cost" name="cost" value="{{data.cost}}">
    </div>

    <div class="form-group">
        <label for="">Quantity</label>
        <input type="number" placeholder="Quantity" name="quantity" value="{{data.quantity}}">
    </div>

    <div>
        <input type="submit">
    </div>
</form>
