<div>
    <nav class="white">
        <div class="nav-wrapper">
            <ul>
                <li class="left">
                    <h5 class="black-text"><b>SALES</b></h5>
                </li>
                <li class="right black-text">
                    <form action="/sales/search/">
                        <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input id="sales_search_bar" type="text" placeholder="search" class="validate" name="search_val">
                            <!-- <label for="search_bar">Search</label> -->
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

    <table id="sales_search">
        <thead>
            <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Category</th>
                <th>Quantity Sold</th>
                <th>Selling Price (R)</th>
                <th></th>
                <th>
                    <a class="btn btn-default" href="/sales/add" role="button">
                        <i class="material-icons"><b>add</b></i>
                    </a>
                </th>
            </tr>
        </thead>

        {{#sales}}
            <tbody>
                <tr>
                    <td>{{date}}</td>
                    <td>{{product}}</td>
                    <td>{{category}}</td>
                    <td>{{sold}}</td>
                    <td>{{price}}</td>
                    <td>
                        <a class="btn btn-default" href="/sales/edit/{{id}}" role="button">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="/sales/delete/{{id}}">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        {{/sales}}

    </table>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $(document).ready(function() {

        $("#sales_search_bar").keyup(function(event) {

            var searchValue = $("#sales_search_bar").val();
            $.get("/sales/search/" + searchValue, function(results) {
                $('#sales_search').html(results);
            });
        });
    })
</script>
