<div class="container">

    <h4>Summary</h4>
    <h5>Period From: {{start_date}} To {{end_date}}</h5>

    <table class="responsive-table" class="bordered">
        <thead>
            <tr>
                <th>Description</th>
                <th>Product</th>
                <th>Quantity Sold</th>
            </tr>
        </thead>

        <tbody>

            {{#most_popular}}
                <tr>
                    <td>Most Popular Product</td>
                    <td>{{product}}</td>
                    <td>{{quantity}}</td>
                </tr>
            {{/most_popular}}

            {{#least_popular}}
                <tr>
                    <td>Least Popular Product</td>
                    <td>{{product}}</td>
                    <td>{{quantity}}</td>
                </tr>
            {{/least_popular}}

            {{#most_popular_cat}}
                <tr>
                    <td>Most Popular Category</td>
                    <td>{{category}}</td>
                    <td>{{quantity}}</td>
                </tr>
            {{/most_popular_cat}}

            {{#least_popular_cat}}
                <tr>
                    <td>Least Popular Category</td>
                    <td>{{category}}</td>
                    <td>{{quantity}}</td>
                </tr>
            {{/least_popular_cat}}

        </tbody>
    </table>
</div>
