<h2>Summary</h2>
<h4>Period From: {{start_date}} To {{end_date}}</h4>

<ul>
    {{#most_popular}}
        <li>The most popular product is {{product}} with {{quantity}} units sold.</li>
    {{/most_popular}}

    {{#least_popular}}
        <li>The least popular product is {{product}} with {{quantity}} units sold.</li>
    {{/least_popular}}

    {{#most_popular_cat}}
        <li>The most popular category is {{category}} with {{quantity}} units sold.</li>
    {{/most_popular_cat}}

    {{#least_popular_cat}}
        <li>The least popular category is {{category}} with {{quantity}} units sold.</li>
    {{/least_popular_cat}}
</ul>
