<div>
    <nav class="white">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <h5 class="black-text"><b>USERS</b></h5>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

    <table class="bordered" class="responsive-table">
        <thead>
            <tr>
                <th>User
                    <a class="btn btn-default" href="/users/add" role="button" id="add">
                        <i class="material-icons">add</i>
                    </a>
                </th>
                <th>Admin</th>
                <th>Locked</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        {{#users}}
            <tbody>
                <tr>
                    <td>{{username}}</td>
                    <td>{{admin}}</td>
                    <td>{{locked}}</td>
                    <td>
                        <a class="btn btn-default" href="/users/edit/{{id}}" role="button">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="/users/delete/{{id}}">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        {{/users}}

    </table>
</div>
